/* Universal */

*{
margin: 0;
padding: 0;
box-sizing: border-box;}

/* Containers */

body {
margin: 0;
overflow: hidden;
background-color: #1B1B1B;
/* display: flex;
justify-content: center;
align-items: center;
height: 100vh  */
    
canvas {
background: #1B1B1B; 
position: relative;
left: 50%;
translate: -50% 0;
height: auto;
width: 90vw;
image-rendering: crisp-edges;
image-rendering: pixelated;}
    
/* Targeted */

#controls {
display: flex;
justify-content: space-around;
padding: 75px 10px;}
    
    #controls > button {
        padding: 5px 8px;}    
    
#playerCharacter {
position: absolute;
width: 11.25vw;
height: auto;}
    
#tilemap {
display: none;}
